@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;


.video-info {

    &__mobile {
        @include desktop {
            display: none;
        }
    }

    &__background{
        @include tablet {
            background-color: black;
            padding-right: $tablet-padding-between;
            padding-left:  $tablet-padding-between;
        }
    }

    &__title-container {
        padding-right: $mobile-padding-between;
        padding-bottom: $mobile-padding-before;
        padding-left: $mobile-padding-between;

        @include tablet {
            padding-right: $tablet-padding-between;
            padding-left: $tablet-padding-between;
            padding-bottom : $tablet-padding-before;
        }

        @include desktop {
            padding-left: 6rem;
            padding-bottom: 3rem;
            padding-right: 0rem;
        }
    }

    &__title {
        padding-top: $mobile-padding-before;
        padding-bottom: $mobile-padding-after;
        border-bottom: .0625rem solid $mercury;

        @include tablet {
            padding-bottom: 0rem;
            border-bottom: none;
        }
    }

    &__timestamp {
        color: $silver;
    }

    &__channel-tablet {
        @include tablet {
            display: flex;
        }
    }

    &__view-tablet {
        @include tablet {
            display: flex;
        }

        @include desktop {
            padding-right: $tablet-padding-between;
        }
    }

    &__channel-container {
        width: 100%;
        display: flex;
        gap: 25%;
        padding-top: $mobile-padding-after;
        padding-bottom: $mobile-padding-after;
        border-bottom: .0625rem solid $mercury;

        @include tablet {
            justify-content: space-between;
            padding-bottom: 0rem;
        }
    }

    &__channel {
        padding-bottom: 1rem;
        @include tablet {
            padding-right: 2rem;
        }
    }

    &__icon {
        display: flex;
        padding-right: 1rem;

        @include tablet {
            padding-right: 0.5rem;
        }
    }

    &__view {
        display: flex;
        padding-bottom: 1rem;
        color: $silver;
    }

    &__like {
        display: flex;
        color: $silver;

        @include tablet {
            padding-left: 2rem;
        }
    }

    &__description {
        padding-top: $mobile-padding-after;

        @include tablet {
            padding-top: $tablet-padding-after;
        }

        @include desktop {
            padding-right: $tablet-padding-between;
        }
    }
}