@font-face {
    font-family: 'Avenir Next';
    src: url("../../assets/font/AvenirNextLTPro-Regular.otf"),
        url("../../assets/font/Alternative-files/AvenirNextLTPro.ttf")
        format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next';
    src: url("../../assets/font/AvenirNextLTPro-Bold.otf"),
        url("../../assets/font/Alternative-files/AvenirNextLTProBold.ttf")
        format("truetype");
    font-weight: 700;
}