// screen sizes
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// primary color
$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$silver: #AFAFAF;
$white: #FFFFFF;

// secondary color
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

// padding
$mobile-padding-before: 1.5rem;
$mobile-padding-after: 1rem;
$mobile-padding-between: 1rem;

$tablet-padding-before: 2.25rem;
$tablet-padding-after: 1.5rem;
$tablet-padding-between: 1.5rem;