@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.post {
    width: 100%;
    display: flex;
    padding-top: $mobile-padding-after;
    border-top: .0625rem solid $mercury;
    margin-bottom: -0.6rem;

    @include tablet {
        padding-top: $tablet-padding-after
    }


    &__user-default {
        background: $mercury;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
    }

    &__user-container {
        padding-right: $mobile-padding-between;
        
        @include desktop {
            padding-right: 2.5rem;
        }
    }

    &__name-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__timestamp {
        color: $silver;

        @include desktop {
            padding-right: $tablet-padding-between;
        }
    }

    &__comment {
        padding-left: 3.25rem;
        padding-bottom: $mobile-padding-after;

        @include tablet {
            padding-bottom: $tablet-padding-after;
        }

        @include desktop {
            padding-left: 4.7rem;
            padding-right: $tablet-padding-between;
        }
    }
}

.delete-container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
    margin-top: -1.5rem;
}

.delete-btn {
    font-family: 'Avenir Next';
    font-weight: 700;
    width: 25%;
    color: white;
    height: 1.25rem;
    background-color: $brainflix-blue;
    background-repeat: no-repeat;
    background-position: .3125rem;
    border-color: $brainflix-blue;
    border-radius: .25rem;
    border-style: solid;
    margin-top: $mobile-padding-after;

    @include tablet {
        width: 10%;
    }

    @include desktop {
        margin-right: 1.5rem;
    }
}

.delete-btn:hover {
    background-color: $brainflix-darkblue;
    border-color: $brainflix-darkblue;
}