@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/variables' as *;

.video__container {
    background-size: cover;
    height: 100%;
    width: 100%;
}

.section__info {
    display: flex;
    justify-content: space-between;
}

.user-icon {
    background-size: cover;
    width: 2.46rem;
    height: 2.25rem;
    border-radius: 50%;
}

.comment {

    &__default-user {
        background: $mercury;
        width: 2.46rem;
        height: 2.25rem;
        border-radius: 50%;
    }
}