@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

::placeholder {
    color: #000000;
    font-family: 'Avenir Next';
    font-weight: 400;
}

.comment {
    padding-top: $mobile-padding-before;
    padding-right: $mobile-padding-between;
    padding-bottom: $mobile-padding-between;
    padding-left: $mobile-padding-between;

    @include tablet {
        padding-right: $tablet-padding-between;
        padding-bottom: $tablet-padding-between;
        padding-left: $tablet-padding-between;
    }

    &__container {
        display: flex;
    }

    &__user-container {
        padding-right: $mobile-padding-between;

        @include tablet {
            padding-top: 1.20rem;
        }
    }

    &__user {
        background-image: url("../../assets/images/Mohan-muruge.jpg");
        background-size: cover;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
    }

    &__label-tablet {
        @include tablet {
            width: 100%;
        }

    }

    &__label {
        color: $silver;
    }

    &__textarea-tablet {
        @include tablet {
            display: flex;
        }
    }

    &__textarea {
        width: 100%;
        height: 7rem;
        resize: none;
        padding-top: $mobile-padding-after;
        padding-left: $mobile-padding-between;
        background-color: $alabaster;
        border-radius: .3125rem;
        border-color: $mercury;
        border-style: solid;

        @include tablet {
            height: 2.25rem;
            padding-top: 0.5rem;
        }
    }

    &__button {
        font-family: 'Avenir Next';
        font-weight: 700;
        width: 100%;
        color: white;
        height: 2.25rem;
        background-color: $brainflix-blue;
        background-image: url("../../assets/icons/add_comment.svg");
        background-repeat: no-repeat;
        background-position: .3125rem;
        border-color: $brainflix-blue;
        border-radius: .25rem;
        border-style: solid;
        margin-top: $mobile-padding-after;

        @include tablet {
            margin-top: 0;
            margin-left: 1rem;
            width: 40%;
            height: 2.25;
        }
    }
}

.comment__button:hover {
    background-color: $brainflix-darkblue;
    border-color: $brainflix-darkblue;
}

