
@use './styles/partials/global.scss' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/fonts' as *;
@use './styles/partials/mixins' as *;

.padding {
    padding-right: 3rem;
}

.comments {
    padding-left: 1rem;

    @include tablet {
        padding-left :1.5rem;
    }

    @include desktop {
        padding-left: 6rem;
        padding-right: 0;
    }
}

.comments-gap {
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @include desktop {
        padding-left: 6rem;
        padding-right: 0;
    }
}


.next-video {
    color: #AFAFAF;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: .0625rem solid #E1E1E1;

    @include tablet {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

.wrapper {

    @include desktop {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

}

.left-container {
    @include desktop {
        width: 80%;
    }

}

.nextVideo-container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    @include tablet {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
    }
    @include desktop {
        width: 40%;
        border-left :  .0625rem solid #E1E1E1;
    }

}