@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;


.video-background {
    width: 100%;
    background: black;
    &__background {
        max-width: 1280px;
        margin: 0 auto;
        @include tablet {
            background-color: black;
            padding-left: $tablet-padding-between;
            padding-right: $tablet-padding-between;
        }

        @include desktop {
            display: block;
            background-color: black;
            padding-left: 10rem;
            padding-right: 10rem;
            }

    }
}